<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379387602765-539ul0te7p8ogoqgaja25hdrgohpojqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379387602765-539ul0te7p8ogoqgaja25hdrgohpojqq</string>
	<key>API_KEY</key>
	<string>AIzaSyB80LDXvlNTlQvBRd_h2-tFfd8UsE02h6k</string>
	<key>GCM_SENDER_ID</key>
	<string>379387602765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Cristiano.Honeymoon</string>
	<key>PROJECT_ID</key>
	<string>honeymoon-f32df</string>
	<key>STORAGE_BUCKET</key>
	<string>honeymoon-f32df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379387602765:ios:a7e3ac94167dc55cce7904</string>
</dict>
</plist>